body {
    font-family: Arial, sans-serif;
    background-color: #fc640c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    flex: 1;
    background-color: #faf6f6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
    flex: 1;
}

.center-image {
    max-width: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: orangered;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0 5px 0;
    text-align: left;
    width: 100%;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b35100;
}

.error {
    color: red;
}

footer {
    width: 100%;
    background-color: rgb(48, 142, 204);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1px 0;


}
.footer-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 5px 0;
    color: black;
}